body {
    background-color: black;
    background-image: url('/assets/img/retro.jpg')
}
header {
    display: flex;
    min-width: min-content;
    margin: auto;
    min-height: 20vh;
    align-items: center;
    text-align: center;
    align-content: center;
}
main {
    display: flex;
}
#game-board {
    opacity: 0.7;
    background-color: black;
    width: 76vmin;
    height: 76vmin;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(26, 1Fr);
    grid-template-columns: repeat(26, 1Fr);
}
.logo-container {
    flex: 1;
}
.logo-container img {
    height: 7vh;
}
.logo {
    color: white;
    font-size: larger;
    letter-spacing: 1.8px;
}
.snake {
    background-color: white;
    border: .50vmin solid black; 
}
.food {
    background-color: #800080;
    border: .50vmin solid black;
}