body {
    padding: 0;
    margin: 0;
    background-color: #121212;
    background-image: url('/assets/img/retro.jpg');
    font-family: hack;
    color: white;
}
header, footer {
    display: flex;
    min-width: min-content;
    margin: auto;
    min-height: 19vh;
    align-items: center;
    text-align: center;
    align-content: center;
}
main {
    display: flex;
}
footer {
    min-height: auto;
}
#game-board {
    opacity: 0.8;
    background-color: black;
    width: 76vmin;
    height: 76vmin;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(26, 1Fr);
    grid-template-columns: repeat(26, 1Fr);
}
.logo-container {
    flex: auto;
}
.logo-container img {
    height: 7vh;
}
.title {
    font-size: 1.8vh;
    text-shadow: 0.7px 0.7px 1px #e000e0;
}
.snakeHead {
    background-color: #e000e0;
    border: .50vmin solid black;
}
.snake {
    background-color: #800080;
    border: .50vmin solid black; 
}
.food {
    background-color: #e000e0;
    border: .60vmin solid black;
    border-radius: 10ch;
}
.source-container {
    flex: auto; 
}
.source {
    color: white;
    font-size: 1.7vh;
    text-shadow: 0.7px 0.7px 1px #e000e0;
    text-decoration: none;
}
.score, .record {
    font-size: 2vh;
    text-shadow: 0.7px 0.7px 1px #e000e0;
    display: block;
    margin: auto;
}
a:hover {
    color: hotpink;
}